*{
    padding: 0;
    margin: 0;
}

/* .gall{
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.window{
    position: absolute;
    width: 950px;
    height: 150px;
    border: 2px solid black;
    border-radius: 15px;
}

.gallBox{
    position: absolute;
    width: 1150px;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.imgBox{
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

.imgBox:nth-child(1){
    margin-left: 0;
} */

/* 테스트2 */

ul li{
    padding-left: 0;
    list-style: none;
}

/* .winBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    width: 750px;
    height: 150px;
    overflow: hidden;
}

.slide{
    width: 900px;
    height: 100%;
    display: flex;
    position: relative;
    left: 0px;
}

button{
    width: 100px;
    height: 40px;
    font-size: 18px;
    font-weight: 900;
} */

/* 테스트3 */
.window {
    border: 2px solid black;
    width: 1000px;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.slide {
    position: relative;
    width: 1200px;
    height: 200px;
    display: flex;
    left: 400px;
    transition: left 0.5s ease-in-out;
}

.slide li {
    position: relative;
    width: 200px;
    height: 200px;
}

.left,
.right {
    position: absolute;
    bottom: 0;
    cursor: pointer;
    width: 40px;
    height: 30px;
    border: 2px solid black;
    font-weight: 900;
    text-align: center;
    line-height: 25px;
}

.left {
    left: 0px;
}

.right {
    right: 0px;
}

#slide01:checked ~ .window .slide {
    left: 400px;
}

#slide02:checked ~ .window .slide {
    left: 200px;
}

#slide03:checked ~ .window .slide {
    left: 0px;
}

#slide04:checked ~ .window .slide {
    left: -200px;
}

#slide05:checked ~ .window .slide {
    left: -400px;
}

#slide06:checked ~ .window .slide {
    left: -600px;
}

